@import "tailwindcss";

@theme {
  --color-dbu-line: #353535;
  --color-dbu-bg: #232323;
  --color-dbu-header: #dfe288;
  --color-dbu-text: #cccccc;
  --color-dbu-link: #ff6900;
  --color-dbu-bg2: #1b1b1b;
  --color-dbu-bg3: #1f1f1f;
  --color-dbu-pos-aspect: #4caf50;
  --color-dbu-neg-aspect: #f44336;
}

:root {
  --background: #232323;
  --foreground: #cccccc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --foreground: #cccccc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
