@import "tailwindcss";

@theme {
  --color-dbu-line: #353535;
  --color-dbu-bg: #232323;
  --color-dbu-header: #dfe288;
  --color-dbu-text: #cccccc;
  --color-dbu-link: #ff6900;
  --color-dbu-link-hover: #d85900;
  --color-dbu-bg1: #141414;
  --color-dbu-bg2: #1b1b1b;
  --color-dbu-bg3: #1f1f1f;
  --color-dbu-pos-aspect: #4caf50;
  --color-dbu-neg-aspect: #f44336;
  --color-page-awakening: #a855f7;
  --color-page-race: #22c55e;
  --color-page-factor: #22c55e;
  --color-page-enhancement: #06b6d4;
  --color-page-alternate: #eab308;
  --color-page-legendary: #ef4444;
  --color-page-evolved-stage: #9f2b68;
}

:root {
  --background: #232323;
  --foreground: #cccccc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --foreground: #cccccc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.card-glow {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.89);
  transition:
    box-shadow 0.3s ease,
    transform 0.2s ease;
}

.card-glow:hover {
  box-shadow:
    0 0 4px var(--card-color),
    0 0 10px var(--card-color),
    0 28px 60px rgba(0, 0, 0, 0.95);
}

.card-glow[data-page-type="awakening"] {
  --card-color: var(--color-page-awakening);
}
.card-glow[data-page-type="race"] {
  --card-color: var(--color-page-race);
}
.card-glow[data-page-type="factor"] {
  --card-color: var(--color-page-factor);
}
.card-glow[data-page-type="enhancement"] {
  --card-color: var(--color-page-enhancement);
}
.card-glow[data-page-type="alternate"] {
  --card-color: var(--color-page-alternate);
}
.card-glow[data-page-type="legendary"] {
  --card-color: var(--color-page-legendary);
}
.card-glow[data-page-type="evolved stage"] {
  --card-color: var(--color-page-evolved-stage);
}
