.navOption {
    color: #CCCCCC;
    text-decoration: none;
}
.navOption:hover {
  color: #ff6900;
}

.top{
  margin-top: 10px;
}

.navMenu{
  display: none;
}

.transformation-dropdown{
  position: relative;
  display: inline-block;
}

.transformation-dropdown:hover .transformation-dropdown-content {
  display: inline-block;
}


.transformation-dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.transformation-dropdown-content > a{
    width: 100%;
    margin: 5px;
}

/* Tablet */
@media screen and (min-width: 600px) {

}

/* Desktop */
@media screen and (min-width: 1024px) {
  
}